* {
	border: 0px;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}


.main{
	width: 100%;
}

.outerWrapper{
	width:  100%;
}


.header{	
	float:  left;
	width: 100%;
	display: flex;
	flex-direction: row ;
   flex-wrap: wrap;
}

#part1{
	float:  left;
	width: 70%;
	display: flex;
	flex-direction: row ;
   flex-wrap: wrap;
}
.part2{
	width: 30%;
	float: right;
}



.c_art{
	margin: 5px;
	height: 100px;
	width: 100px;
	background-color: blue;
	flex-direction: row;
}

img{
	width: 100px;
	height:  100px;
}

#mycart{
	background-color:  yellow;
	color:  blue;
}